@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Logo Fonts */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.crete-round-regular {
    /* font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .crete-round-regular-italic {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: italic;
  } */
  
  /* Board Fonts */

.arimo {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.arimo-regular {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.arimo-medium {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.arimo-semibold {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.arimo-bold {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}